* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
}

#input {
  display: grid;
}






#header {
  background-color:#994bd8;
  padding: 20px;
  color: white;
}